html {
    height: 100%;
}

body {
    height: 100%;
    font-size: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: rgb(0, 232, 209);
    background: -moz-linear-gradient(30deg, #43cea2 22%, #185a9d);
    background: -webkit-linear-gradient(30deg, #43cea2 22%, #185a9d);
    background: -o-linear-gradient(30deg, #43cea2 22%, #185a9d);
    background: -ms-linear-gradient(30deg, #43cea2 22%, #185a9d);
    background: linear-gradient(120deg, #43cea2 22%, #185a9d);
}

.hidden {
    display: none;
}

#clock-calendar {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    padding: 20px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.35);
    border-radius: 50px;
}

#clock-calendar.hover {
    background-color: rgba(255, 255, 255, 0.2);
}
